In [3]:
#python

In [11]:
1) #print output

print("hello world")
print('yoyo')
print(98765432)
print(True)
print(2.1)

print("hello",1,True,1.5)

# sep=""
print("hello",1,True,1.5, sep="-")

#end=""
print("hello",end="-")
print("world")

hello world
yoyo
98765432
True
2.1
hello 1 True 1.5
hello-1-True-1.5
hello-world

In [28]:
#Data types

# 1) integer -> handle upto print(1e308)

print(1)
print(1e308)

# 2) float -> handle upto print(1e308)

print(2.1)
print(1e308)

# 3) boolean

print(True)
print(False)

# 4) string -> char ni hota hai in python

print("hello")

#5) complex 

print(5+6j)

#6) list

print([1,2,3,4,5])

# 7) tuple

print((1,2,3,4,5))

# 8) sets

print({1,2,3,4,5})

# 9) dictionary -> key value pair

print({'name':'shan','gender':'male','age':19})


# type() function

type(4)
type(True)

1
1e+308
2.1
1e+308
True
False
hello
(5+6j)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'name': 'shan', 'gender': 'male', 'age': 19}

bool

In [26]:
# variables

In [33]:
name = "aniket"
print(name)

a = 2
b = 4
print(a,b)

# dymanic typing -> ki don't tell data type -> static typing ki data type batao -> ex: int a = 5
a = 5

# dynamic binding -> don't have fix data type change hota rehta hai datatype -> static binding -> ki int a = 5 so ab char a = 'a' ni kar shakte hai
a = 5
print(a)

a = "name"
print(a)

# value to initialize value -> styling way
a,b,c = 1,2,3
print(a,b,c)

a = b = c = 1
print(a,b,c)

aniket
2 4
5
name
1 2 3
1 1 1

In [35]:
#compilation -> process to convert code into binary -> by compiler(jyada jyada) or interpreter(1 by 1)
# compiler is fast

# keywords(32 reserved words not use as variable name) 

# identifiers(naming of variable)
     # rules:
              # not start with digit , use _ only , not use 32 keywords

In [37]:
# input

input()
input("write your name")

write your name df

'df'

In [48]:
# q1 -> take input store in variable add and print result

# num1 = input("enter first number")
# num2 = input("enter second number") 
# print(type(num1),type(num2)) 
# sum = int(num1) + int(num2)
# print(sum)

#  or

num1 = int(input("enter first number"))
num2 = int(input("enter second number")) 
print(type(num1),type(num2)) 
sum = num1 + num2
print(sum)

enter first number 3
enter second number 4

<class 'int'> <class 'int'>
7

In [46]:
# type conversion -> implicit (khud se )

#-> explicit -> change in new one original effect ni hota hai

int(5.1)
type(int(5.1))

# not work for int(2+4j) complex

int

In [58]:
 # literals -> value in differnet forms

a = 0b1010  # binary
print(a)

b = 10.5  # float
print(b)

c = 3.14j   # complex
print(c.real,c.imag)



# ex


# '' "" ''' ''' used in python
# unicode -> u"\u0001f600" -> for emojis and char
# raw_str = r"raw \n string" -> to print \n

a = True + 4
b = False +  2

print(a,b)


c = None # decalre karlo then use further
print(c)

10
10.5
0.0 3.14
5 2
None

5 2